<!DOCTYPE html>
<html>
<head>
	<title>Image Detection App</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	
</head>
<body>
	<div class="container mt-3">
		<h2 class="text-center mb-3">Image Detection App</h2>
		{% if results %}
			{% for result in results %}
				<div class="card mb-3">
					<div class="card-body">
						<h5 class="card-title">{{ result.class }}</h5>
						<p class="card-text">Confidence: {{ result.confidence }}</p>
						<img class="img-fluid" src="data:image/jpeg;base64,{{ result.image }}" alt="{{ result.class }}">
					</div>
						<script src="./alarm_function.js"></script>
						<script>
							function updateImage() {
								var img = document.getElementById('video-stream');
								img.src = '/getimg';
								setTimeout(updateImage, 1000);  // 1초마다 이미지 업데이트
							}
							updateImage();
						</script>
    					<button onclick="startAlarm()">Start Alarm</button>
				</div>
			{% endfor %}
		{% else %}
			<p>No results to display</p>
		{% endif %}
	</div>
	<script>
		

	</script>
</body>
</html>
